site_name: Polly Documentation
use_directory_urls: false
nav:
  - Home: index.md
  - Getting Started:
    - Workspaces: Getting Started/Workspaces.md
  - Apps:
      - Introduction: Apps/Introduction.md
      - Host Apps: Apps/Host Apps.md
      - Metabolomics Data:
        - El-MAVEN Phi Relative LC-MS: Apps/Metabolomic Data/El-MAVEN Phi Relative LC-MS.md
        - MetScape: Apps/Metabolomic Data/MetScape.md
        - FirstView: Apps/Metabolomic Data/FirstView.md
        - Untargeted Pipeline: Apps/Metabolomic Data/Untargeted Pipeline.md
        - Dual Mode Data Visualization: Apps/Metabolomic Data/Dual Mode Visualization.md
        - QuantFit: Apps/Metabolomic Data/QuantFit.md
        - El-MAVEN: Apps/Metabolomic Data/El-MAVEN.md
        - Labeled LC-MS/MS Workfow: Apps/Metabolomic Data/Labeled LC-MSMS Workflow.md
        - Labeled LC-MS Workflow: Apps/Metabolomic Data/Labeled LC-MS Workflow.md
        - Compound Discoverer<sup>TM</sup> QuantFit: Apps/Metabolomic Data/CompoundDiscoverer QuantFit.md
      - Screening and Sequencing Data: 
        - CRISPR Screening: Apps/Screening & Sequencing Data/CRISPR Screening.md
        - High Throughput Drug Screening: Apps/Screening & Sequencing Data/High Throughput Drug Screening.md
        - RNA Seq Workflow: Apps/Screening & Sequencing Data/RNA Seq Workflow.md
      - Proteomics Data:
        - Proteomics Workflow: Apps/Proteomic Data/Proteomics Workflow.md
      - Lipidomics Data:
        - Lipidomics Visualization Dashboard: Apps/Lipidomics Data/Lipidomics Visualization Dashboard.md
      - Multi-omic Data:
        - IntOmix: Apps/Multi-omic Data/IntOmix.md
      - Data Studio:
        - Introduction: Apps/Data Studio/Data Studio.md
        - CCLE Correlation Analysis: Apps/Data Studio/CCLE Correlation Analysis.md
  - Scaling Compute: 
      - Polly CLI: Scaling compute/Polly CLI.md
      - Notebooks: Scaling compute/Polly Notebooks.md
  - Data Lake: Data Lake.md
  - Release Notes: Release Notes.md
theme: readthedocs
site_favicon: img/elucidata.ico
