site_name: Polly Documentation
use_directory_urls: false
nav:
  - About Polly: index.md  
  - Before You Start:
      - Privacy Policy: Getting Started/Privacy Policy.md
      - Prequisites of UI and CLI: Getting Started/Prerequisites.md
  - QuickStart:
      - Accessing The Platform: Getting Started/index1.md
      - Admin Dashboard: Getting Started/Admin Dashboard.md
      - Your Workspaces: Getting Started/Your Workspaces2.md
      - Your Data and Analyses: Getting Started/Your Data.md
      - Your Collaborations: Getting Started/Your Collaborations.md
  - Discover:
      - About Discover: DataLakeHub/About Discover.md
      - Index of DataLakes: DataLakeHub/About Repositores.md
      - Accessing Data Programmagtically: DataLakeHub/Accessing Discover programmatically.md
      - Accessing Data Through UI: DataLakeHub/Accessing Discover through Polly's interface.md
  - OmixAtlas:
      - About OmixAtlas: OmixAtlas/OmixAtlas.md 
      - Polly Python: OmixAtlas/Polly Python.md
      - Data Schema: OmixAtlas/Data Schema.md
      - Case Studies: 
        - Cell-type annotation of single cell transcriptomics data using marker based methods: OmixAtlas/Case Studies/Celltype Identification/Celltype_identification.md
        - Integrative single-cell transcriptome analysis reveals a subpopulation of fibroblasts associated with favorable prognosis of liver cancer patients: OmixAtlas/Case Studies/Single Cell Integration/Single Cell Integration.md
  - Analyses:
    - Polly Notebooks:
      - About Polly Notebooks: Scaling compute/Polly Notebooks5.md
      - Accessing Polly Notebooks: Scaling compute/Polly Notebooks1.md
      - Pre-configured Environment: Scaling compute/Polly Notebooks2.md
      - Computational Machines Available: Scaling compute/Polly Notebooks3.md
      - Getting Started With Notebooks: Scaling compute/Polly Notebooks4.md
      - Gists: TechEcosystem/Gists1.md
    - Polly CLI:
      - Getting Started with Polly CLI: Scaling compute/Polly CLI 1.md
      - Docker Building Guidelines: TechEcosystem/Docker Building guidelines.md
      - Docker Management: TechEcosystem/Docker Management.md
      - Running Dockerized Jobs: TechEcosystem/Running Dockerized Jobs.md
      - Jobs Execution: TechEcosystem/Job Execution.md
      - Gists: TechEcosystem/Gists2.md
    - Polly Applications: 
      - Application Features: Apps/Introduction.md
      - Host Apps: Apps/Host Apps.md
      - Polly-PeakML: Apps/Metabolomic Data/Polly-PeakML.md
      - Proteomics Compound Screening Application: Apps/Proteomic Data/Compound_Screening_Application.md
      - CCLE Correlation Analysis Preset: Apps/CCLE Correlation Analysis.md
      - Compound Discoverer<sup>TM</sup> QuantFit: Apps/Metabolomic Data/CompoundDiscoverer QuantFit.md
      - CRISPR Screening: Apps/Screening Data/CRISPR Screening.md
      - Discover: Apps/Polly Discover Application.md
      - Dual Mode Data Visualization: Apps/Metabolomic Data/Dual Mode Visualization.md
      - El-MAVEN: Apps/Metabolomic Data/El-MAVEN.md
      - El-MAVEN Phi Relative LC-MS: Apps/Metabolomic Data/El-MAVEN Phi Relative LC-MS.md
      - FirstView: Apps/Metabolomic Data/FirstView.md
      - Gene SpotLight: Apps/GeneSpotlight.md
      - GTEx Correlation and Enrichment Analysis Preset: Apps/GTEX preset.md
      - GTEX Discover Application: Apps/GTEX Discover.md
      - High Throughput Drug Screening: Apps/Screening Data/High Throughput Drug Screening.md
      - IntOmix: Apps/Multi-omic Data/IntOmix.md
      - Labeled LC-MS/MS Workfow: Apps/Metabolomic Data/Labeled LC-MSMS Workflow.md
      - Labeled LC-MS Workflow: Apps/Metabolomic Data/Labeled LC-MS Workflow.md
      - Labeled LC-MS Analysis Preset: Apps/labeled_lcms_analysis.md
      - Lipidomics Data Analysis Preset: Apps/lipidomics_data_analysis.md
      - Lipidomics Visualization Dashboard: Apps/Lipidomics Data/Lipidomics Visualization Dashboard.md
      - Metabolomics Data Analysis Preset: Apps/metabolomics_data_analysis.md
      - MetScape: Apps/Metabolomic Data/MetScape.md
      - Proteomics Enrichment Analysis Preset: Apps/Proteomics Enrichment Analysis.md
      - Proteomics Workflow: Apps/Proteomic Data/Proteomics Workflow.md
      - QuantFit: Apps/Metabolomic Data/QuantFit.md
      - RNA Seq Workflow: Apps/Sequencing Data/RNA Seq Workflow.md
      - Single Cell Visualization: Apps/Single Cell Visualization.md
      - TraceFinder Downstream Analysis Preset: Apps/tracefinder_preset.md
      - Untargeted Pipeline: Apps/Metabolomic Data/Untargeted Pipeline.md
    - Data Studio:
      - About DataStudio: Apps/Data Studio/Datastudio Intro.md
      - DataStudio Journeys: Apps/Data Studio/Studio Journeys.md
      - DataStudio Tutorial: Apps/Data Studio/Studio Tutorial.md
      - Dashboarding and Reporting: Apps/Data Studio/Dashboard.md
  - Tech Ecosystem:
    - Polly Architecture: TechEcosystem/Polly Architecture.md
    - Security and Data Transfer: TechEcosystem/Data Security.md
    - Data Recovery: TechEcosystem/polly_disaster_recovery_mar_2021.md
  - Release Notes: Release Notes.md
theme: readthedocs
site_favicon: img/elucidata.ico
