.md-search__form {
    border-radius: 24px;
}

.md-footer-meta {
    display: none;
}

.demo-button {
    align-items: center;
    background-color: #CB6E00;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 14px;
    margin: 6px;
    padding: 8px 32px;
    transition: all 0.3s;
}

.demo-button:hover {
    background-color: #f78e12;
}

.d-flex {
    display: flex;
}

.gap-1 {
    grid-gap: 8px;
}